/* MIXINS
-------------------------------------------------- */
/* FONTS
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/* VARIABLES
-------------------------------------------------- */
/* COMMON TAGS AND CLASES
-------------------------------------------------- */
body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden; }

section {
  padding: 50px 0; }
  section h1 {
    padding-bottom: 0; }

hr {
  border-top: 1px solid #000; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.btn-rectangle-lg, .btn-rectangle-sm {
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: #CF212F;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn-rectangle-lg:hover, .btn-rectangle-sm:hover {
    background-color: #e1424f;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
  .btn-rectangle-lg.dark-blue:hover, .btn-rectangle-sm.dark-blue:hover {
    background-color: #052e55;
    color: #fdebda; }

.btn:focus, .btn:active {
  outline: none !important; }

.btn-transparent {
  background-color: rgba(237, 237, 237, 0.2);
  border: 1px black solid;
  font-weight: bold; }

.btn-rectangle-lg {
  padding: 15px 56px; }

.btn-rectangle-sm {
  padding: 7px 28px; }

.gray {
  background-color: #ededed; }

.white {
  background-color: #ffffff; }

.dark-blue {
  background-color: #021425;
  color: #fdebda; }

.bold {
  background: none;
  font-weight: bold; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
#tog {
  display: none; }
  #tog:checked ~ nav {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

#ham {
  background: #a4e333;
  background: -moz-linear-gradient(top, #a4e333 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, #a4e333 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, #a4e333 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -45px;
  top: -30px;
  border: 6px solid #000;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  #ham:hover {
    opacity: 1; }
  #ham span {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }

.nav-desktop {
  z-index: 499;
  background: #a4e333;
  background: -moz-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-278px);
  -moz-transform: translateX(-278px);
  -ms-transform: translateX(-278px);
  -o-transform: translateX(-278px);
  transform: translateX(-278px);
  width: 278px;
  height: 830px;
  padding-top: 115px;
  margin-top: -10px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden; }
  .nav-desktop li {
    line-height: 1; }
  .nav-desktop a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    padding: 18px 25px 18px 10px;
    width: 95%;
    border-bottom: 1px solid #5b8412;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    position: relative; }
    .nav-desktop a:hover {
      background: #5b8412;
      color: white; }
      .nav-desktop a:hoverbefore {
        background: #5b8412; }
    .nav-desktop a:before {
      content: '';
      background: none;
      width: 22px;
      height: 58px;
      position: absolute;
      left: -7%;
      top: 0px;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }

/* INTRO
-------------------------------------------------- */
.intro {
  width: 100%;
  height: 100vh;
  color: #FFC107;
  background: url(../img/intro.jpg) no-repeat 50% 55%;
  z-index: 99;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro h1 {
    font-family: 'Open Sans';
    padding-top: 30vh;
    text-shadow: 2px 2px 10px black, 0 0 5rem black;
    z-index: 99; }

/* MAIN CONTENT
-------------------------------------------------- */
.divider {
  margin: 80px 0; }

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px; }

#reviews {
  overflow: hidden; }

.responsive {
  padding: 0 25px; }
  .responsive .slick-slide:focus, .responsive .slick-slide:active {
    outline: none !important; }

.slider-item {
  background: #FFF;
  margin-bottom: 100px; }
  .slider-item img {
    margin-top: 20px; }

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  -ms-box-shadow: 0 10px 6px -6px #777;
  -o-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }

.effect2 {
  position: relative; }
  .effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    -ms-box-shadow: 0 15px 10px #777;
    -o-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto; }

.effect3 {
  position: relative; }
  .effect3:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    -ms-box-shadow: 0 15px 10px #777;
    -o-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }

.effect4 {
  position: relative; }
  .effect4:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    -ms-box-shadow: 0 15px 10px #777;
    -o-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg); }

.effect5 {
  position: relative; }
  .effect5:before, .effect5:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    -ms-box-shadow: 0 35px 20px #777;
    -o-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg); }
  .effect5:after {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    right: 10px;
    left: auto; }

.effect6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .effect6:before, .effect6:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10; }
  .effect6:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg); }

.effect7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .effect7:before, .effect7:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10; }
  .effect7:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg); }

.effect8 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .effect8:before, .effect8:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10; }
  .effect8:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg); }

.effect9 {
  background: linear-gradient(to right, rgba(237, 237, 237, 0), #eeeeee 10%, #eeeeee 90%, rgba(237, 237, 237, 0)); }
  .effect9:before {
    content: '';
    position: absolute;
    top: 0;
    left: 12%;
    right: 12%;
    bottom: 0;
    border-radius: 40%;
    z-index: -1;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8); }

#photo {
  padding-bottom: 100px;
  /* RESPONSIVE */ }
  #photo .container * {
    margin: 0;
    padding: 0; }
  #photo #categories {
    overflow: hidden;
    width: 90%;
    margin: 0 auto; }
    #photo #categories div h1, #photo #categories div p {
      width: 90%;
      padding: 0 5%;
      background-color: #00B423;
      background-color: rgba(0, 180, 35, 0.5);
      font-family: 'Raleway', sans-serif;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    #photo #categories li {
      position: relative;
      list-style-type: none;
      float: left;
      overflow: hidden;
      visibility: hidden;
      -webkit-transform: rotate(-60deg) skewY(30deg);
      -moz-transform: rotate(-60deg) skewY(30deg);
      -ms-transform: rotate(-60deg) skewY(30deg);
      -o-transform: rotate(-60deg) skewY(30deg);
      transform: rotate(-60deg) skewY(30deg);
      /* HEX CONTENT */
      /* HOVER EFFECT  */ }
      #photo #categories li * {
        position: absolute;
        visibility: visible; }
      #photo #categories li > div {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        overflow: hidden;
        -webkit-transform: skewY(-30deg) rotate(60deg);
        -moz-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
        -o-transform: skewY(-30deg) rotate(60deg);
        transform: skewY(-30deg) rotate(60deg);
        backface-visibility: hidden; }
      #photo #categories li img {
        left: -100%;
        right: -100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        margin: 0 auto; }
      #photo #categories li h1 {
        bottom: 110%;
        font-style: italic;
        font-weight: normal;
        font-size: 2.5rem;
        padding-top: 100%;
        padding-bottom: 100%; }
        #photo #categories li h1:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 45%;
          width: 10%;
          text-align: center;
          z-index: 1;
          border-bottom: 2px solid #fff; }
      #photo #categories li p {
        padding-top: 50%;
        top: 110%;
        padding-bottom: 50%; }
      #photo #categories li div:hover h1 {
        bottom: 50%;
        padding-bottom: 10%; }
      #photo #categories li div:hover p {
        top: 50%;
        padding-top: 10%; }
  @media (min-width: 1201px) {
    #photo #categories li {
      width: 19.2%;
      /* = (100-4) / 5 */
      padding-bottom: 22.17%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(9n+6), #photo #categories li:nth-child(9n+7), #photo #categories li:nth-child(9n+8), #photo #categories li:nth-child(9n+9) {
        margin-top: -5%;
        margin-bottom: -5%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(9n+6):last-child, #photo #categories li:nth-child(9n+7):last-child, #photo #categories li:nth-child(9n+8):last-child, #photo #categories li:nth-child(9n+9):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(9n+6) {
        margin-left: 0.25%;
        clear: left; }
      #photo #categories li:nth-child(9n+10) {
        clear: left; }
      #photo #categories li:nth-child(9n+2), #photo #categories li:nth-child(9n+ 7) {
        margin-left: 0.5%;
        margin-right: 0.5%; }
      #photo #categories li:nth-child(9n+3), #photo #categories li:nth-child(9n+4), #photo #categories li:nth-child(9n+8) {
        margin-right: 0.5%; } }
  @media (max-width: 1200px) and (min-width: 901px) {
    #photo #categories li {
      width: 24.25%;
      /* = (100-3) / 4 */
      padding-bottom: 28.002%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(7n+5), #photo #categories li:nth-child(7n+6), #photo #categories li:nth-child(7n+7) {
        margin-top: -6.1%;
        margin-bottom: -6.1%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(7n+5):last-child, #photo #categories li:nth-child(7n+6):last-child, #photo #categories li:nth-child(7n+7):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(7n+2), #photo #categories li:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%; }
      #photo #categories li:nth-child(7n+3) {
        margin-right: 1%; }
      #photo #categories li:nth-child(7n+8) {
        clear: left; }
      #photo #categories li:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%; } }
  @media (max-width: 900px) and (min-width: 601px) {
    #photo #categories li {
      width: 32.666%;
      /* = (100-2) / 3 */
      padding-bottom: 37.721%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(5n+4), #photo #categories li:nth-child(5n+5) {
        margin-top: -8.622%;
        margin-bottom: -8.622%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(5n+4):last-child, #photo #categories li:nth-child(5n+5):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%; }
      #photo #categories li:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%; }
      #photo #categories li:nth-child(5n+6) {
        clear: left; } }
  @media (max-width: 600px) {
    #photo #categories li {
      width: 39.4%;
      /* = (100-1.5) / 2.5 */
      padding-bottom: 45.496%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(4n+3), #photo #categories li:nth-child(4n+4) {
        margin-top: -10.392%;
        margin-bottom: -10.392%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(4n+3):last-child, #photo #categories li:nth-child(4n+4):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(4n+3) {
        margin-left: 0.5%; }
      #photo #categories li:nth-child(2n+2) {
        margin-left: 1%; } }
  @media (max-width: 600px) and (orientation: portrait) {
    #photo #categories li h1 {
      font-size: 1.5rem; }
    #photo #categories li p {
      font-size: 0.7rem; } }

#imageModal {
  overflow: hidden;
  padding-top: 1vh; }
  #imageModal img {
    height: 90vm;
    width: auto;
    padding: 2vm;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fefefe;
    object-fit: cover;
    -o-object-fit: cover; }

.map {
  padding-top: 0;
  padding-bottom: 400px;
  width: 100%;
  height: 100%; }
  .map .list-inline {
    margin-bottom: 0; }
  .map .map-marker {
    margin-top: 100px; }

/* FOOTER
-------------------------------------------------- */
footer {
  background: #a4e333;
  background: -moz-linear-gradient(top, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  padding-top: 50px;
  padding-bottom: 40px; }

.footer-list {
  color: #000; }
  .footer-list span {
    color: #f5f5f5; }

.footer-menu-header {
  font-size: 2rem; }

.footer-menu a {
  color: black;
  font-size: 1.5rem; }

.footer-social-list {
  font-size: 5rem; }
  .footer-social-list li a img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .footer-social-list li a img:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .contact input, .contact textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px; }
    .contact input:hover, .contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      -ms-transition: border-color 0.3s ease-in-out;
      -o-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out; }
    .contact input:focus, .contact textarea:focus {
      outline: 0;
      border: 1px solid #999; }
  .contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none; }
  .contact ::-webkit-input-placeholder {
    color: #888; }
  .contact :-moz-placeholder {
    color: #888; }
  .contact ::-moz-placeholder {
    color: #888; }
  .contact :-ms-input-placeholder {
    color: #888; }
  .contact .alert {
    padding: 15px; }

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 992px) {
  .map {
    color: #f5f5f5; }
    .map .map-marker {
      margin-top: 20px; } }
@media (max-width: 768px) {
  #examples .row {
    margin-left: 0;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
