@charset "UTF-8";
/* MIXINS
-------------------------------------------------- */
@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin icon-background($url, $move-y, $move-x: 50%) {
  background: url($url) no-repeat $move-x $move-y;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);
}

@mixin rotate($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}

@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  -ms-backface-visibility: $value;
  backface-visibility: $value;
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  -ms-box-shadow: $value;
  -o-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin filter($value) {
  filter: $value;
  -moz-filter: $value;
  -webkit-filter: $value;
}

/* FONTS
-------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
//font-family: 'Comfortaa', cursive;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
//font-family: 'Open Sans';
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Arvo:700);

/* VARIABLES
-------------------------------------------------- */
$red: #CF212F;
$dark-blue: #021425;
$titleColor: #FFC107;

/* COMMON TAGS AND CLASES
-------------------------------------------------- */

body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

main {

}

section {
  padding: 25px 0;
  h1 {
    padding-bottom: 0;
  }
}

hr {
  border-top: 1px solid #000;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn-default-lg, .btn-default-sm {
  color: black;
  @include border-radius(0);
  font-family: 'Open Sans';
  font-size: larger;
  background-color: $red;
  @include transition(background 0.3s ease-in-out);
  &:hover {
    background-color: lighten($red, 10%);
    @include transition(background 0.3s ease-in-out);
  }
  &.dark-blue:hover {
    background-color: lighten($dark-blue, 10%);
    color: invert($dark-blue);
  }
}

.btn:focus, .btn:active {
  outline: none !important;
}

.btn-transparent {
  background-color: rgba(235, 235, 235, 0.6);
  border: 1px black solid;
  font-weight: bold;
  &:hover {
    background-color: #84C512;
  }
}

.btn-orange {
  background-color: #EF6A21;
  border: 1px black solid;
  font-weight: bold;
  &:hover {
    background-color: lighten(#EF6A21, 2);
  }
}

.btn-orange2 {
  background-color: #FDBC62;
  border: 1px black solid;
  font-weight: bold;
  &:hover {
    background-color: darken(#FDBC62, 5);
  }
}

.btn-green {
  background-color: #84C512;
  border: 1px black solid;
  font-weight: bold;
  &:hover {
    background-color: lighten(#84C512, 5);
  }
}

.btn-blue {
  background-color: #77B3D4;
  border: 1px black solid;
  font-weight: bold;
  &:hover {
    background-color: darken(#77B3D4, 5);
  }
}

.btn-default-lg {
  padding: 15px 56px;
}

.btn-default-sm {
  padding: 7px 28px;
}

.btn-round {
  @include border-radius(60px);
}

.btn-no-border {
  border: none;
}

.gray {
  background-color: #ededed;
}

.white {
  background-color: #ffffff;
}

.dark-blue {
  background-color: $dark-blue;
  color: invert($dark-blue);
}

.bold {
  background: none;
  font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#tog {
  display: none;
  &:checked ~ nav {
    @include transform(rotate(-20deg));
  }
}

#ham {
  background: #a4e333;
  background: -moz-linear-gradient(top, rgba(164, 227, 51, 1) 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 1) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 1) 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  width: 90px;
  height: 90px;
  @include border-radius(50%);
  @include box-sizing(border-box);
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -45px;
  top: -30px;
  border: 6px solid #000;
  z-index: 500;
  opacity: 1;
  @include transition(opacity .3s);
  &:hover {
    opacity: 1;
  }
  span {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    @include transition(transform .3s);
  }
}

.nav-desktop {
  z-index: 499;

  background: #a4e333;
  background: -moz-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  will-change: transform;
  position: fixed;
  top: 0;
  @include transform(translateX(-278px));
  width: 278px;
  height: 830px;
  padding-top: 50px;
  margin-top: -10px;
  box-sizing: border-box;
  @include transition(all .3s ease-in-out);
  overflow: hidden;
  li {
    line-height: 1;
  }
  a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    padding: 18px 25px 18px 10px;
    width: 95%;
    border-bottom: 1px solid darken(#A4E333, 25%);
    @include transition(background .3s);
    @include transform(rotate(20deg));
    position: relative;
    &:hover {
      background: darken(#A4E333, 25%);
      color: white;
      &before {
        background: darken(#A4E333, 25%);
      }
    }
    &:before {
      content: '';
      background: none;
      width: 22px;
      height: 58px;
      position: absolute;
      left: -7%;
      top: 0px;
      @include transition(background .3s);
    }
  }
}

/* INTRO
-------------------------------------------------- */

#sletat-search-1 {
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 24px;
  overflow: hidden;
  color: $titleColor;
  background: url(../img/intro2.jpg) no-repeat 50% 50%;
  z-index: 99;
  @include background-size(cover);

  .container {
    background: rgba(187,199,175,0.25);
    background: -webkit-linear-gradient(to bottom, rgba(87,171,173,0.25), rgba(187,199,175,0.25));
    background: linear-gradient(to bottom, rgba(87,171,173,0.25), rgba(187,199,175,0.25));
    @include border-radius(10px);
  }

  .logo {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    max-width: 100%;
    margin-bottom: 20px;
  }

  $rear-x-offset: 1em;
  $ribbon-color: #e38242;

}

#hotToursLight, #searchTours {
  overflow-x: auto;
  padding: 0;
}

/* MAIN CONTENT
-------------------------------------------------- */

.divider {
  margin: 80px 0;
}

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px;
}

#work {
  li {
    height: 250px;
  }
}

#reviews {
  overflow: hidden;
}

.slider {
  padding: 0;
  .slick-slide {
    &:focus, &:active {
      outline: none !important;
    }
  }
}

.review-card {
  background-color: white;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 555px;
  position: relative;
  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    @include box-shadow(0 15px 10px #777);
    @include transform(rotate(-3deg));
  }
  &:after {
    @include transform(rotate(3deg));
    right: 10px;
    left: auto;
  }
  img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    display: inline;
    margin-top: 20px;
  }
}

.blockquote-reverse {
  font-size: medium;
}

.icon-review {
  @include transition(all .3s ease-in-out);
  will-change: transform;
  &:hover {
    @include transition(all .3s ease-in-out);
    @include transform(scale(1.2));
  }
}

#photo {
  padding-bottom: 100px;

  #categories {
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    .hexagon-content {
      h4, ul {
        width: 90%;
        background-color: #00B02D;
        background-color: rgba(0, 176, 45, 0.8);
        font-family: 'Raleway', sans-serif;
        @include transition(all .2s ease-out);
        &:focus, &:active {
          outline: none !important;
        }
      }
      h4 {
        margin: 0;
      }
      ul {
        margin-left: 0;
        padding-right: 10%;
        li {
          position: relative;
        }
      }
    }

    .hex {
      position: relative;
      list-style-type: none;
      float: left;
      overflow: hidden;
      visibility: hidden;
      @include transform(rotate(-60deg) skewY(30deg));

      * {
        position: absolute;
        visibility: visible;
      }

      & > .hexagon-content {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        overflow: hidden;
        @include transform(skewY(-30deg) rotate(60deg));
        @include backface-visibility(hidden);
      }

      /* HEX CONTENT */
      img {
        left: -100%;
        right: -100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        margin: 0 auto;
      }

      h4 {
        bottom: 110%;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5em;
        padding-top: 100%;
        padding-bottom: 100%;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 45%;
          width: 10%;
          text-align: center;
          z-index: 1;
          border-bottom: 2px solid #fff;
        }
      }

      ul {
        padding-top: 50%;
        top: 110%;
        padding-bottom: 50%;
        li a {
          color: #fff;
        }
      }

      .hexagon-content:hover {
        h4 {
          bottom: 50%;
          padding-bottom: 10%;
          will-change: bottom;
        }
        ul {
          top: 50%;
          padding-top: 10%;
          will-change: top;
        }
      }

    }

  }

  /* RESPONSIVE */
  @media (min-width: 1201px) {
    #categories {
      li {
        width: 19.2%; /* = (100-4) / 5 */
        padding-bottom: 22.17%; /* =  width /0.866 */
        &:nth-child(9n+6), &:nth-child(9n+7), &:nth-child(9n+8), &:nth-child(9n+9) {
          margin-top: -5%;
          margin-bottom: -5%;
          @include transform(translateX(50%) rotate(-60deg) skewY(30deg));
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:nth-child(9n+6) {
          margin-left: 0.25%;
          clear: left;
        }
        &:nth-child(9n+10) {
          clear: left;
        }
        &:nth-child(9n+2), &:nth-child(9n+ 7) {
          margin-left: 0.5%;
          margin-right: 0.5%;
        }
        &:nth-child(9n+3), &:nth-child(9n+4), &:nth-child(9n+8) {
          margin-right: 0.5%;
        }
      }
    }

  }

  @media (max-width: 1200px) and (min-width: 901px) {
    #categories {
      li {
        width: 24.25%; /* = (100-3) / 4 */
        padding-bottom: 28.002%; /* =  width /0.866 */
        &:nth-child(7n+5), &:nth-child(7n+6), &:nth-child(7n+7) {
          margin-top: -6.1%;
          margin-bottom: -6.1%;
          @include transform(translateX(50%) rotate(-60deg) skewY(30deg));
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:nth-child(7n+2), &:nth-child(7n+6) {
          margin-left: 1%;
          margin-right: 1%;
        }
        &:nth-child(7n+3) {
          margin-right: 1%;
        }
        &:nth-child(7n+8) {
          clear: left;
        }
        &:nth-child(7n+5) {
          clear: left;
          margin-left: 0.5%;
        }
      }
    }
  }

  @media (max-width: 900px) and (min-width: 601px) {
    #categories {
      li {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.721%; /* =  width /0.866 */
        &:nth-child(5n+4), &:nth-child(5n+5) {
          margin-top: -8.622%;
          margin-bottom: -8.622%;
          @include transform(translateX(50%) rotate(-60deg) skewY(30deg));
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:nth-child(5n+4) {
          margin-right: 1%;
          margin-left: 0.5%;
        }
        &:nth-child(5n+2) {
          margin-left: 1%;
          margin-right: 1%;
        }
        &:nth-child(5n+6) {
          clear: left;
        }
      }
    }
  }

  @media (max-width: 600px) {
    #categories {
      li {
        width: 39.4%; /* = (100-1.5) / 2.5 */
        padding-bottom: 45.496%; /* =  width /0.866 */
        &:nth-child(4n+3), &:nth-child(4n+4) {
          margin-top: -10.392%;
          margin-bottom: -10.392%;
          @include transform(translateX(50%) rotate(-60deg) skewY(30deg));
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:nth-child(4n+3) {
          margin-left: 0.5%;
        }
        &:nth-child(2n+2) {
          margin-left: 1%;
        }
      }
    }
  }
}

.css-modal-img {
  height: 60vh;
  max-width: 80vw;
  width: auto;
  @include border-radius(5px);
  object-fit: cover;
  -o-object-fit: cover;
}

/* **************CSS **
 * Modal window
 * *************** */
.css-modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-shadow: 0 1px 0 #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  @include transition(opacity .4s linear);
  @include transform(translate(0, 100%));
  z-index: 1050;
}

.modal-inner {
  position: fixed;
  top: 5vh;
  left: 20%;
  right: 20%;
  padding: 20px;
  max-width: 80vw;
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.2));
  @include box-sizing(border-box);
  @include border-radius(15px);
  background-color: rgba(255, 255, 255, .2);
  z-index: 10;
  h2 {
    padding-bottom: 20px;
  }
}

.css-modal-close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1;
  span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .74);
    cursor: pointer;
    text-indent: -9999px;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 4px;
      border: 1px solid #fff;
      height: 30px;
    }
    &:before {
      left: 19px;
      @include transform(rotate(-45deg));
    }
    &:after {
      right: 19px;
      @include transform(rotate(45deg));
    }
  }
}

#modal-photo:target {
  opacity: 1;
  @include transform(translate(0, 0));
}

.map {
  padding-top: 0;
  padding-bottom: 400px;
  width: 100%;
  height: 100%;
  .list-inline {
    margin-bottom: 0;
  }
  .map-marker {
    margin-top: 100px;
  }
  img {
    width: 100%;
  }
}

/* FOOTER
-------------------------------------------------- */

footer {
  background: #a4e333;
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);

  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-list {
  color: #000;
  span {
    color: #f5f5f5;
  }
}

.footer-menu-header {
  font-size: 2rem;
}

.footer-menu {
  a {
    color: black;
    font-size: 1.5rem;
  }

}

.footer-social-list {
  font-size: 5rem;
  li {
    a {
      img {
        @include scale(1);
        will-change: transform;
        @include transition(all 0.3s ease-in-out);
        &:hover {
          @include scale(1.2);
          @include transition(all 0.3s ease-in-out);
        }
      }
    }
  }
}

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  @include border-radius(0);
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  input, textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px;
    &:hover {
      @include transition(border-color 0.3s ease-in-out);
    }
    &:focus {
      outline: 0;
      border: 1px solid #999;
    }
  }
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888;
  }
  ::-moz-placeholder {
    color: #888;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  .alert {
    padding: 15px;
  }
}

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400;
}

.modal {
  will-change: opacity;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 992px) {
  .map {
    color: #000;
    .map-marker {
      span {
        color: #f5f5f5;
      }
      margin-top: 20px;
    }
  }
}

@media (max-width: 768px) {
  .css-modal-img {
    height: 60vh;
    max-width: 80vw;
  }
  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 90vw;
  }
  .hexagon-content {
    h4 {
      font-size: 1.2rem !important;
    }
  }

  .mobile-sletat {
    min-width: 100% !important;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 80vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .css-modal-img {
    height: 70vh;
    max-width: 70vw;
  }
  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 80vw;
  }
}