/* MIXINS
-------------------------------------------------- */
/* FONTS
-------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Arvo:700);
/* VARIABLES
-------------------------------------------------- */
/* COMMON TAGS AND CLASES
-------------------------------------------------- */
body {
  color: #5a5a5a;
  background-color: #ededed;
  font-family: 'Open Sans';
  overflow-x: hidden; }

section {
  padding: 25px 0; }
  section h1 {
    padding-bottom: 0; }

hr {
  border-top: 1px solid #000; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.btn-default-lg, .btn-default-sm {
  color: black;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'Open Sans';
  font-size: larger;
  background-color: #CF212F;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn-default-lg:hover, .btn-default-sm:hover {
    background-color: #e1424f;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
  .btn-default-lg.dark-blue:hover, .btn-default-sm.dark-blue:hover {
    background-color: #052e55;
    color: #fdebda; }

.btn:focus, .btn:active {
  outline: none !important; }

.btn-transparent {
  background-color: rgba(235, 235, 235, 0.6);
  border: 1px black solid;
  font-weight: bold; }
  .btn-transparent:hover {
    background-color: #84C512; }

.btn-orange {
  background-color: #EF6A21;
  border: 1px black solid;
  font-weight: bold; }
  .btn-orange:hover {
    background-color: #f0702b; }

.btn-orange2 {
  background-color: #FDBC62;
  border: 1px black solid;
  font-weight: bold; }
  .btn-orange2:hover {
    background-color: #fdb149; }

.btn-green {
  background-color: #84C512;
  border: 1px black solid;
  font-weight: bold; }
  .btn-green:hover {
    background-color: #94dc14; }

.btn-blue {
  background-color: #77B3D4;
  border: 1px black solid;
  font-weight: bold; }
  .btn-blue:hover {
    background-color: #64a8ce; }

.btn-default-lg {
  padding: 15px 56px; }

.btn-default-sm {
  padding: 7px 28px; }

.btn-round {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

.btn-no-border {
  border: none; }

.gray {
  background-color: #ededed; }

.white {
  background-color: #ffffff; }

.dark-blue {
  background-color: #021425;
  color: #fdebda; }

.bold {
  background: none;
  font-weight: bold; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
#tog {
  display: none; }
  #tog:checked ~ nav {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

#ham {
  background: #a4e333;
  background: -moz-linear-gradient(top, #a4e333 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, #a4e333 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, #a4e333 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 38px 20px 0 34px;
  display: block;
  cursor: pointer;
  position: fixed;
  left: -45px;
  top: -30px;
  border: 6px solid #000;
  z-index: 500;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  #ham:hover {
    opacity: 1; }
  #ham span {
    display: block;
    background: #fff;
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }

.nav-desktop {
  z-index: 499;
  background: #a4e333;
  background: -moz-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.9) 0%, #7dbe0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4e333', endColorstr='#7dbe0a', GradientType=0);
  will-change: transform;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-278px);
  -moz-transform: translateX(-278px);
  -ms-transform: translateX(-278px);
  -o-transform: translateX(-278px);
  transform: translateX(-278px);
  width: 278px;
  height: 830px;
  padding-top: 50px;
  margin-top: -10px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden; }
  .nav-desktop li {
    line-height: 1; }
  .nav-desktop a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    font-size: 1.75rem;
    padding: 18px 25px 18px 10px;
    width: 95%;
    border-bottom: 1px solid #5b8412;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    position: relative; }
    .nav-desktop a:hover {
      background: #5b8412;
      color: white; }
      .nav-desktop a:hoverbefore {
        background: #5b8412; }
    .nav-desktop a:before {
      content: '';
      background: none;
      width: 22px;
      height: 58px;
      position: absolute;
      left: -7%;
      top: 0px;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s; }

/* INTRO
-------------------------------------------------- */
#sletat-search-1 {
  margin: 0 auto; }

.intro {
  width: 100%;
  height: 100%;
  padding: 24px;
  overflow: hidden;
  color: #FFC107;
  background: url(../img/intro2.jpg) no-repeat 50% 50%;
  z-index: 99;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro .container {
    background: rgba(187, 199, 175, 0.25);
    background: -webkit-linear-gradient(to bottom, rgba(87, 171, 173, 0.25), rgba(187, 199, 175, 0.25));
    background: linear-gradient(to bottom, rgba(87, 171, 173, 0.25), rgba(187, 199, 175, 0.25));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
  .intro .logo {
    max-width: 100%;
    margin-bottom: 10px; }
  .intro .btn {
    max-width: 100%;
    margin-bottom: 20px; }

/* MAIN CONTENT
-------------------------------------------------- */
.divider {
  margin: 80px 0; }

.subtitle-divider {
  width: 20%;
  border-top: 1px solid #DDDDDD;
  padding-bottom: 25px; }

#work li {
  height: 250px; }

#reviews {
  overflow: hidden; }

.slider {
  padding: 0; }
  .slider .slick-slide:focus, .slider .slick-slide:active {
    outline: none !important; }

.review-card {
  background-color: white;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 555px;
  position: relative; }
  .review-card:before, .review-card:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    -ms-box-shadow: 0 15px 10px #777;
    -o-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .review-card:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .review-card img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    display: inline;
    margin-top: 20px; }

.blockquote-reverse {
  font-size: medium; }

.icon-review {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: transform; }
  .icon-review:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

#photo {
  padding-bottom: 100px;
  /* RESPONSIVE */ }
  #photo #categories {
    overflow: hidden;
    padding: 0;
    margin: 0 auto; }
    #photo #categories .hexagon-content h4, #photo #categories .hexagon-content ul {
      width: 90%;
      background-color: #00B02D;
      background-color: rgba(0, 176, 45, 0.8);
      font-family: 'Raleway', sans-serif;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      #photo #categories .hexagon-content h4:focus, #photo #categories .hexagon-content h4:active, #photo #categories .hexagon-content ul:focus, #photo #categories .hexagon-content ul:active {
        outline: none !important; }
    #photo #categories .hexagon-content h4 {
      margin: 0; }
    #photo #categories .hexagon-content ul {
      margin-left: 0;
      padding-right: 10%; }
      #photo #categories .hexagon-content ul li {
        position: relative; }
    #photo #categories .hex {
      position: relative;
      list-style-type: none;
      float: left;
      overflow: hidden;
      visibility: hidden;
      -webkit-transform: rotate(-60deg) skewY(30deg);
      -moz-transform: rotate(-60deg) skewY(30deg);
      -ms-transform: rotate(-60deg) skewY(30deg);
      -o-transform: rotate(-60deg) skewY(30deg);
      transform: rotate(-60deg) skewY(30deg);
      /* HEX CONTENT */ }
      #photo #categories .hex * {
        position: absolute;
        visibility: visible; }
      #photo #categories .hex > .hexagon-content {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        overflow: hidden;
        -webkit-transform: skewY(-30deg) rotate(60deg);
        -moz-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
        -o-transform: skewY(-30deg) rotate(60deg);
        transform: skewY(-30deg) rotate(60deg);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden; }
      #photo #categories .hex img {
        left: -100%;
        right: -100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        margin: 0 auto; }
      #photo #categories .hex h4 {
        bottom: 110%;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5em;
        padding-top: 100%;
        padding-bottom: 100%; }
        #photo #categories .hex h4:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 45%;
          width: 10%;
          text-align: center;
          z-index: 1;
          border-bottom: 2px solid #fff; }
      #photo #categories .hex ul {
        padding-top: 50%;
        top: 110%;
        padding-bottom: 50%; }
        #photo #categories .hex ul li a {
          color: #fff; }
      #photo #categories .hex .hexagon-content:hover h4 {
        bottom: 50%;
        padding-bottom: 10%;
        will-change: bottom; }
      #photo #categories .hex .hexagon-content:hover ul {
        top: 50%;
        padding-top: 10%;
        will-change: top; }
  @media (min-width: 1201px) {
    #photo #categories li {
      width: 19.2%;
      /* = (100-4) / 5 */
      padding-bottom: 22.17%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(9n+6), #photo #categories li:nth-child(9n+7), #photo #categories li:nth-child(9n+8), #photo #categories li:nth-child(9n+9) {
        margin-top: -5%;
        margin-bottom: -5%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(9n+6):last-child, #photo #categories li:nth-child(9n+7):last-child, #photo #categories li:nth-child(9n+8):last-child, #photo #categories li:nth-child(9n+9):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(9n+6) {
        margin-left: 0.25%;
        clear: left; }
      #photo #categories li:nth-child(9n+10) {
        clear: left; }
      #photo #categories li:nth-child(9n+2), #photo #categories li:nth-child(9n+ 7) {
        margin-left: 0.5%;
        margin-right: 0.5%; }
      #photo #categories li:nth-child(9n+3), #photo #categories li:nth-child(9n+4), #photo #categories li:nth-child(9n+8) {
        margin-right: 0.5%; } }
  @media (max-width: 1200px) and (min-width: 901px) {
    #photo #categories li {
      width: 24.25%;
      /* = (100-3) / 4 */
      padding-bottom: 28.002%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(7n+5), #photo #categories li:nth-child(7n+6), #photo #categories li:nth-child(7n+7) {
        margin-top: -6.1%;
        margin-bottom: -6.1%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(7n+5):last-child, #photo #categories li:nth-child(7n+6):last-child, #photo #categories li:nth-child(7n+7):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(7n+2), #photo #categories li:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%; }
      #photo #categories li:nth-child(7n+3) {
        margin-right: 1%; }
      #photo #categories li:nth-child(7n+8) {
        clear: left; }
      #photo #categories li:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%; } }
  @media (max-width: 900px) and (min-width: 601px) {
    #photo #categories li {
      width: 32.666%;
      /* = (100-2) / 3 */
      padding-bottom: 37.721%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(5n+4), #photo #categories li:nth-child(5n+5) {
        margin-top: -8.622%;
        margin-bottom: -8.622%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(5n+4):last-child, #photo #categories li:nth-child(5n+5):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%; }
      #photo #categories li:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%; }
      #photo #categories li:nth-child(5n+6) {
        clear: left; } }
  @media (max-width: 600px) {
    #photo #categories li {
      width: 39.4%;
      /* = (100-1.5) / 2.5 */
      padding-bottom: 45.496%;
      /* =  width /0.866 */ }
      #photo #categories li:nth-child(4n+3), #photo #categories li:nth-child(4n+4) {
        margin-top: -10.392%;
        margin-bottom: -10.392%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg); }
        #photo #categories li:nth-child(4n+3):last-child, #photo #categories li:nth-child(4n+4):last-child {
          margin-bottom: 0; }
      #photo #categories li:nth-child(4n+3) {
        margin-left: 0.5%; }
      #photo #categories li:nth-child(2n+2) {
        margin-left: 1%; } }

.css-modal-img {
  height: 60vh;
  max-width: 80vw;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  object-fit: cover;
  -o-object-fit: cover; }

/* **************CSS **
 * Modal window
 * *************** */
.css-modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-shadow: 0 1px 0 #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  z-index: 1050; }

.modal-inner {
  position: fixed;
  top: 5vh;
  left: 20%;
  right: 20%;
  padding: 20px;
  max-width: 80vw;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10; }
  .modal-inner h2 {
    padding-bottom: 20px; }

.css-modal-close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 1; }
  .css-modal-close span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
    text-indent: -9999px; }
    .css-modal-close span:before, .css-modal-close span:after {
      content: "";
      position: absolute;
      top: 4px;
      border: 1px solid #fff;
      height: 30px; }
    .css-modal-close span:before {
      left: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .css-modal-close span:after {
      right: 19px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

#modal-photo:target {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.map {
  padding-top: 0;
  padding-bottom: 400px;
  width: 100%;
  height: 100%; }
  .map .list-inline {
    margin-bottom: 0; }
  .map .map-marker {
    margin-top: 100px; }
  .map img {
    width: 100%; }

/* FOOTER
-------------------------------------------------- */
footer {
  background: #a4e333;
  background: -webkit-linear-gradient(top, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  background: linear-gradient(to bottom, rgba(164, 227, 51, 0.7) 0%, #7dbe0a 100%);
  padding-top: 50px;
  padding-bottom: 40px; }

.footer-list {
  color: #000; }
  .footer-list span {
    color: #f5f5f5; }

.footer-menu-header {
  font-size: 2rem; }

.footer-menu a {
  color: black;
  font-size: 1.5rem; }

.footer-social-list {
  font-size: 5rem; }
  .footer-social-list li a img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    will-change: transform;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .footer-social-list li a img:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

/* CONTACT MODAL
-------------------------------------------------- */
.contact {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; }
  .contact input, .contact textarea {
    background: #FFF;
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 1px solid #CCC;
    width: 75%;
    margin: 0 0 5px;
    padding: 10px; }
    .contact input:hover, .contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      -ms-transition: border-color 0.3s ease-in-out;
      -o-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out; }
    .contact input:focus, .contact textarea:focus {
      outline: 0;
      border: 1px solid #999; }
  .contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none; }
  .contact ::-webkit-input-placeholder {
    color: #888; }
  .contact :-moz-placeholder {
    color: #888; }
  .contact ::-moz-placeholder {
    color: #888; }
  .contact :-ms-input-placeholder {
    color: #888; }
  .contact .alert {
    padding: 15px; }

.contact-title {
  color: #F96;
  font-size: 30px;
  font-weight: 400; }

.modal {
  will-change: opacity; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 992px) {
  .map {
    color: #000; }
    .map .map-marker {
      margin-top: 20px; }
      .map .map-marker span {
        color: #f5f5f5; } }
@media (max-width: 768px) {
  .css-modal-img {
    height: 60vh;
    max-width: 80vw; }

  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 90vw; }

  .hexagon-content h4 {
    font-size: 1.2rem !important; }

  .mobile-sletat {
    min-width: 100% !important; } }
@media (min-width: 901px) and (max-width: 1200px) {
  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 80vw; } }
@media (min-width: 601px) and (max-width: 900px) {
  .css-modal-img {
    height: 70vh;
    max-width: 70vw; }

  .modal-inner {
    top: 10vh;
    left: 5vw;
    right: 5vw;
    max-width: 80vw; } }

/*# sourceMappingURL=style.css.map */
